

:root {
    --white-color: white;
    --blue-color1: #0d499c;
}


/* Header - Navbar */

header {
    display: grid;
    grid-template-columns: 27.5% 15% 15% 15%;
    padding: 10px;
    background-color: var(--blue-color1);
    color: var(--white-color);
    text-align: center;
    font-family: "Fira Sans", sans-serif;
}

#navbar-head {
    font-family: "Playwrite IS", cursive;
    padding: 0 10%;
    font-size: 30px;
}

.anchor-1 {
    padding: 8px 0;
    margin: auto 0;
    color: var(--white-color);
    font-family: "Fira Sans", sans-serif;
    font-size: x-large;
    text-decoration-line: none;
    border-left: 1px solid var(--white-color);
    transition: background-color 0.2s;

}

.anchor-1:hover {
    background-color: #457dca;

}

#contact-border {
    border-right: 1px solid var(--white-color);
}

/* Section 1 - Welcome */

.section-1 {
    height: 90vh;
    text-align: center;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--white-color); 
    font-family: "Fira Sans", sans-serif;
    z-index: 1;
}

.welcome {
    color: #0a3169;
}

#welcome-h2 {
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 25%;
}

h1 {
    font-size: 80px;
}

.click-pls {
    /* margin-top: 20%; */
    font-weight: 300;
    font-style: italic;
}


.scroll-pls {
    display: none;
    text-align: center;
    align-self: center;
}

.click-or-scroll {
    text-align: center;
    margin-top: 20%;
    display: grid;
}

.click-or-scroll p {
    margin: 0;
}

.click-pls, .scroll-pls {
    grid-column: 1;
    grid-row: 1;
}


.arrow-1 {
    margin-top: 5%;
    
    font-size: 100px;
}

.arrow-1 a {
    color: rgba(0, 0, 0, 0.5);
}

.arrow-1 i {
    transition: color 0.5s;
}

.arrow-1 i:hover {
    color: #000000;
}

/* Section 2 - About */

.section-2 {
    height: 102vh;
    display: flex;
    font-family: "Jost", sans-serif;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: relative;
    overflow: hidden;
    /* flex-direction: column; */
}

#code-background {
    max-width: 110vw;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.about-panel {
    width: 60%;
    padding: 40px;
    height: 35vh;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    z-index: 2;
    transition: background-color 1s;
    position: relative;
}

.about-panel:hover {
    background-color: var(--white-color);
    transition: background-color 0.5s;
}


.details {
    padding-left: 30px;
    color: #082c5f;
    font-size: 30px;
    opacity: 1;
}

.about-title {
    font-size: 2em;
    margin-bottom: 2px;
    margin-top: 25px;

}

.about-para {
    margin-top: 15px;
    margin-bottom: 45px;

}

.pfp-div {
    display: flex;
    justify-content: center;


}

.pfp-size {
    max-width: 75%;
    width: 75%;
}

.arrow-2 {
    margin-bottom: 60px;
    font-size: 100px;
    z-index: 2;
    transition: color 0.5s;
    position: absolute;
    top: 520px;

}

.arrow-2 a {
    color: rgba(255, 255, 255, 0.5);
}

.arrow-2 a:hover {
    color: var(--white-color);
}


/* Section 3 - Projects */

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 120vh;
    background-color: var(--white-color);
    font-family: "Fira Sans", sans-serif;
    gap: 35px;

}

.portfolio-title {
    width: 60%;
    margin: 0 auto;
    padding: 5px;
    color: #0a3169;
    border-bottom: 2px solid #0a3169;
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.portfolio-title h2 {
    font-size: 40px;
    margin: 5px 0;
    font-weight: 400;
}

.portfolio-title p {
    margin: 0;
    margin-bottom: 15px;

}

.projects-outer {
    display: grid;
    grid-template-columns: 6fr 1fr 3fr;
    padding: 25px;
    width: 60%;
    margin: 0 auto;
    background-color: var(--blue-color1);
    color: var(--white-color);
    height: auto;
    transition: background-color 1s;
    max-height: none;
}

.projects-outer:hover {
    background-color: #000000;
}

.project-container {
    margin-left: 45px;
    display: grid;

}

.project-container h2 {
    font-weight: 400;
    font-size: 30px;
}

.project-info {
    border-bottom: 1px solid var(--white-color);
    font-weight: 300;
}

.project-links {
    margin-top: 20px;
    align-self: end;
    font-size: 20px;
}

.project-links a {
    color: var(--white-color);
    text-decoration: none;
    margin: 15px;
}

.project-links a:hover {
    color: rgb(17, 218, 178);
}

.image-container {
    max-width: 300px;
    justify-self: center;
    align-self: center;

}

.project-image {
    height: 195px;
    border: 2px solid #000000;
}


/**/

.read-more {
    font-style: italic;
}

.read-more:hover {
    cursor: pointer;
}

/**/

.response-image {
    display: none;

}

/**/

.arrow-3 {
    margin-top: 13px;
    
    font-size: 100px;
    text-align: center;
}

.arrow-3 i {
    transition: color 0.5s;
}

.arrow-3 a {
    color: rgba(0, 0, 0, 0.5);
}

.arrow-3 a:hover {
    color: #000000;
}

.hidden {
    display: none;
}



/* Footer - Contact section */

.contact {
    height: 50vh;
    border-top: 2px solid #000000;
    background-color: #082c5f;
    color: var(--white-color);
    font-family: "Fira Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.details-container {
    width: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--white-color);
    border-right: 1px solid var(--white-color);
}

/*.contact-details {
    width: 50%;
    margin: 2.5% auto;
    
}*/

#contact-title {
    font-size: 30px;
}

.socials a {
    font-size: 100px;
    color: #457dca;
}

.socials a:hover {
    color: azure;
}

/* Random padding */

.div-pad {
    height: 10vh;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.div-pad p {
    font-size: 25px;
    font-weight: 400;
    color: #0d499c;
}


/* -------------------------------------------------------------------- */

/* Media Queries */



@media screen and (max-width: 1383px) {
    .portfolio-title h2 {
        font-size: 35px;
    }

    #code-background {
        max-height: 100vh;
        max-width: none;
    }

    /* Section 3 - Projects */

    .projects-outer {
        width: 70%;
    }
}

@media screen and (max-width: 1212px) {
    
    #navbar-head i {
        display: none;
        align-self: center;
        position: absolute;
    }

    /* Section 2- About */

    .about-title {
        font-size: 1.75em;
    }

    .details {
        font-size: 20px;
    }
}

@media screen and (max-width: 1041px) {
    .section-3 h2 {
        font-size: 25px;
    }
}




/*-------------------------------------------------------------------
-------------------------- Max Width 967px --------------------------
-------------------------------------------------------------------*/

@media screen and (max-width: 967px) {
    
    /* Header - Navbar */

    header {
        grid-template-columns: 3fr 2fr 2fr 2fr;
       /* padding: 5px 0;
        font-size: 15px;
        height: 50px;*/
    }

    /* Section 1 - Welcome */

    .click-pls {
        margin-top: 0;
        margin-bottom: 0;
        margin: 16px 0;
        display: none;
        text-align: center;
        align-self: center;
    }

    .scroll-pls {
        display: block;
    }

    .arrow-1 {
        display: none;
    }

    .click-or-scroll {
        margin-top: 25%;
    }

    /* Section 2 - About */

    .about-panel {
        width: 100%;
        height: 35vh;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px;
        z-index: 2;
        transition: background-color 1s;
        padding: 40px 0;
    }

    .details {
        padding-left: 20px;
    }

    .about-title {
        font-size: 1.5em;
        margin-bottom: 2px;
        margin-top: 25px;

    }

    .about-para {
        margin-top: 15px;
        margin-bottom: 45px;
        font-size: 20px;

    }

    .pfp-div {
        display: flex;
        justify-content: center;
        padding: 5px;

    }

    .pfp-size {
        max-width: none;
        width: 225px;
    }

    .arrow-2 {
        display: none;

    }

    /* Section 3 - Projects */ 

    .projects-outer {
        display: grid;
        padding: 25px;
        width: 80%;
        margin: 0 auto;
        background-color: var(--blue-color1);
        color: white;
        height: auto;
        transition: background-color 1s;
        max-height: none;
    }
    
    .arrow-3 {
        display: none;
    }
}



/*-------------------------------------------------------------------
-------------------------- Max Width 766px --------------------------
-------------------------------------------------------------------*/

@media screen and (max-width: 766px) {
    
    /* Section 3 - Projects */

    .section-3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 120vh;
        background-color: white;
        font-family: "Fira Sans", sans-serif;
        gap: 35px;
    }

    .portfolio-title {
        width: 60%;
        margin: 0 auto;
        padding: 5px;
        color: #0a3169;
        border-bottom: 2px solid #0a3169;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .portfolio-title h2 {
        font-size: 25px;
        margin: 5px 0;
        font-weight: 400;
    }

    .portfolio-title p {
        margin: 0;
        margin-bottom: 15px;

    }

    .projects-outer {
        display: grid;
        grid-template-columns: 1fr;
        padding: 25px;
        width: 80%;
        margin: 0 auto;
        background-color: var(--blue-color1);
        color: white;
        transition: background-color 1s;
        
    }

    .projects-outer:hover {
        background-color: #000000;
    }

    .project-container {
        margin-left: 0px;
        display: grid;

    }

    .project-container h2 {
        font-weight: 400;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }

    /**/

    .project-info {
        border-bottom: 1px solid white;
        font-weight: 300;
    }

    .project-info p {
        font-size: 15px;
    }

    /**/

    .project-links {
        margin-top: 20px;
        align-self: end;
        font-size: 20px;
    }

    .project-links a {
        color: white;
        text-decoration: none;
        margin: 15px;
    }

    .project-links a:hover {
        color: rgb(17, 218, 178);
    }

    .image-container {
        max-width: 300px;
        justify-self: center;
        align-self: center;

    }

    .project-image {
        height: 195px;
        border: 2px solid #000000;
        display: none;
    }

    .arrow-4 {
        margin-top: 13px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 100px;
        text-align: center;
        display: none;
    }

    /**/

    .response-image-container {
        padding: 5%;
    }

    .response-image {
        display: block;
        width: 100%;
        border: 2px solid #0a3169 ;
    }

    /**/

    /* Footer - Contact section */

    .contact {
        height: 50vh;
        border-top: 2px solid #000000;
        background-color: #082c5f;
        color: white;
        font-family: "Fira Sans", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

    }

    .details-container {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid white;
        border-right: 1px solid white;
        height: 40vh;
    }

    .contact-details {
        padding: 0 20px;
    }

    #contact-title {
        font-size: 20px;
    }

    .socials a {
        font-size: 60px;
        color: #457dca;
    }

    .socials a:hover {
        color: azure;
    }
}


/*-------------------------------------------------------------------
-------------------------- Max Width 680px --------------------------
-------------------------------------------------------------------*/

@media screen and (max-width: 680px) {
    header {
        grid-template-columns: 3fr 2fr 2fr 2fr;
       /* padding: 5px 0;
        font-size: 15px;
        height: 50px;*/
    }
}


/*-------------------------------------------------------------------
-------------------------- Max Width 500px --------------------------
-------------------------------------------------------------------*/

/* Works for IPhone SE */

@media screen and (max-width: 500px) {

    /* Navbar */

    header {
        grid-template-columns: 3fr 2fr 2fr 2fr;
        padding: 5px 0;
        font-size: 15px;
        height: 50px;

    }

    #navbar-head {
        font-family: "Playwrite IS", cursive;
        font-size: 20px;
        margin: 0;
        position: relative;
        display: flex;
        padding: 0 10px 3px 15px;
    }

    .anchor-1 {
        font-size: 20px;


    }

    #contact-border {
        border-right: none;
    }

    #navbar-head span {
        align-self: center;
        justify-self: center;
    }

    #navbar-head i {
        display: none;
        align-self: center;
        position: absolute;
    }

    /* Section 1 */

    .section-1 {
        height: 93vh;
    }


    #welcome-h2 {
        font-size: 40px;
        margin-bottom: 65px;
        margin-top: 20%;
    }

    h1 {
        font-size: 60px
    }

    .click-pls {
        margin-top: 0;
        margin-bottom: 0;
        margin: 16px 0;
        display: none;
        text-align: center;
        align-self: center;
    }

    .scroll-pls {
        display: block;
    }

    .arrow-1 {
        display: none;
    }

    .click-or-scroll {
        margin-top: 25%;
    }

    /* Section 2 - About */
    .about-panel {
        width: 100%;
        height: 35vh;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px;
        z-index: 2;
        transition: background-color 1s;
        padding: 40px 0;
    }

    .details {
        padding-left: 20px;
    }

    .about-title {
        font-size: 25px;
        margin-bottom: 2px;
        margin-top: 25px;

    }

    .about-para {
        margin-top: 15px;
        margin-bottom: 45px;
        font-size: 15px;

    }

    .pfp-div {
        display: flex;
        justify-content: center;


    }

    .pfp-size {
        max-width: 75%;
        width: 75%;
    }

    .arrow-2 {
        display: none;

    }

    /* Section 3 - Projects */

    

    
}