
header {
    display: grid;
    grid-template-columns: 20% 10% 10% 10%;
    padding: 10px;
    background-color: #0d499c;
    color: white;
    text-align: center;
}

h1 {
    font-family: "PT Sans Narrow", sans-serif;
    padding-left: 40px;
}

.anchor-1 {
    padding: 8px 0;
    margin: auto 0;
    color: white;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: x-large;
    text-decoration-line: none;
    border-left: 1px solid white;
    
}

.anchor-1:hover {
    background-color: #457dca;

}

#contact-border {
    border-right: 1px solid white;
}

.section-1 {
    margin: 0 auto;
    font-family: "PT Sans Narrow", sans-serif;
}

.about-me-panel {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: xx-large;
    position: relative;
}

.about-details {
    padding: 15px;
    background-color: white;
    border-bottom-right-radius: 25px;
    border: 2px solid white;
}

.about-img {
    width: 100%;
    position: absolute;
}

.section-2

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #000000;
    padding: 25px;
    margin: 15px 0 15px 0;
}

.contact {
    border-top: 2px solid #000000;
    background-color: #082c5f;
    color: white;
}