.ascii-animation {
    display: grid;
    gap: 1px;
    height: 300px;
    padding: 5px;
    margin-left: 2vw;
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
}

.animation-column {
    display: grid;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    font-family: "VT323", serif;
    color: rgb(29, 29, 29);


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}