body {
    --white-textcolor: white;
    --white-backgroundcolor: white;

    --arrow: white;
    --arrow-hover: rgb(184, 178, 178);

    --blue-color1: #0d499c;
    --blue-color2: #0a3169;
    --blue-color3: #0d499c;
    --blue-color4: #457dca;
    --blue-color6: #082c5f;
    --blue-color7: #082c5f;

    font-family: "Exo 2", serif;
}

body .dark {
    --white-textcolor: rgb(255, 198, 93);
    --white-backgroundcolor: #413d3d;

    --arrow: rgb(255, 198, 93);
    --arrow-hover: rgb(255, 221, 157);

    --blue-color1: rgb(34, 34, 34) ;
    --blue-color2: rgb(55, 55, 55);
    --blue-color3: #0d499c;
    --blue-color4: rgb(255, 198, 93);
    --blue-color6: black;
    --blue-color7: rgb(255, 198, 93);
}

/* Navbar */

header {
    /* Display & Box Model */
    display: flex;
    justify-content: end;
    align-items: center; 
    padding: 0 2vw 0 5vw;   

    /* Color */
    background-color: var(--blue-color6);
    color: var(--white-textcolor);
}

.anchor-1 {
    /* Display & Box Model */
    padding: 8px 10px;
    border-left: 1px solid var(--white-textcolor);
    border-right: 1px solid var(--white-textcolor);

    /* Color */
    color: var(--white-textcolor);

    /* Text */
    font-size: x-large;
    text-decoration-line: none;

    /* Transitions */
    transition: background-color 0.2s;
}

.anchor-1:hover {
    /* Color */
    background-color: var(--blue-color4);
}


.theme-switch {
    justify-self: center;
    display: flex;
}

.change-theme {
    font-size: x-large;
    padding: 0 10px;
}

.change-theme .dark {
    color: white;
}

.switch {
    align-self: center;
    position: relative;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--white-textcolor);
}

input:focus + .slider {
    box-shadow: 0 0 1px #c3ced7;
}

input:checked + .slider:before {    
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: black;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Section 1 - Welcome */

.section-1 {
    /* Display & Box Model */
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-top: 1px solid var(--white-textcolor); 
    height: 90vh;

    /* Color */
    background-color: var(--blue-color1);
}

.section-1 .dark {
    --blue-colour2: white;
}

h1 {
    /* Display */
    margin-top: 6vh;
    margin-bottom: 5vh;

    /* Text */
    color: var(--white-textcolor);
    justify-self: center;
    align-self: center;
    font-size: 40px;
}

.about-and-ascii-container {
    /* Display */
    display: flex;
    height: 50vh;
}

.about-panel {
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    border-left: none;

    /* Colour */
    color: var(--white-textcolor);
}


.about-title {
    /* Display */
    max-width: 399px;

    /* Text */
    margin: 0;
    font-size: 1.75em;
}

.about-para {
    /* Display */
    max-width: 339px;
    height: 345px;
    padding: 30px 35px;
    border-radius: 5px;
    margin-right: 2vw;

    /* Colour */
    background-color: var(--blue-color2);

    /* Text */
    font-size: 22px;
}

.arrow-1 {
    /* Display */
    margin-top: 3vh;

    /* Text */
    font-size: 100px;
    text-align: center;
}

.arrow-1 a {
    /* Color */
    color: var(--arrow);

    /* Transition */
    transition: color 0.5s;
}

.arrow-1 a:hover {
    /* Color */
    color: var(--arrow-hover);
} 

.ascii-animation-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Projects */

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 120vh;
    background-color: var(--white-backgroundcolor);
    font-family: "Fira Sans", sans-serif;
    gap: 35px;
    padding-bottom: 5vh;
}

.section-2 .dark {
    /* Colors */
    --white-color: black;
}

.portfolio-title {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 45px;
    padding: 5px;
    border-bottom: 2px solid var(--blue-color7);

    /* Colour */
    color: var(--blue-color7);
}

.portfolio-title h2 {
    /* Display */
    margin: 5px 0;

    /* Text */
    font-size: 30px;
    font-weight: 400;
}

.projects-outer {
    /* Display */
    display: grid;
    grid-template-columns: 6fr 1fr 3fr;
    padding: 25px 25px 20px 25px;
    height: auto;
    width: 60%;
    max-height: none;
    margin: 0 auto;
    border: 1px solid var(--white-textcolor);

    /* Colour */
    background-color: var(--blue-color1);
    color: var(--white-textcolor);
    
    /* Transition */
    transition: background-color 1s;
}

.projects-outer:hover {
    background-color: #000000;
}

.project-container {
    margin-left: 45px;
    display: grid;
}

.project-container h2 {
    /* Text */
    font-weight: 400;
    font-size: 30px;
}

.project-info {
    /* Display */
    border-bottom: 1px solid var(--white-textcolor);
    font-weight: 300;
}

.project-links {
    /* Display */
    margin-top: 20px;
    align-self: end;

    /* Text */
    font-size: 20px;
}

.project-links a {
    display: inline-block;
    color: var(--white-textcolor);
    text-decoration: none;
    margin: 15px;
}

.project-links a:hover {
    color: rgb(17, 218, 178);
}

.image-container {
    max-width: 300px;
    justify-self: center;
    align-self: start;

}

.project-image {
    height: 195px;
    width: 260px;
    border: 2px solid #000000;
}

/**/

.read-more {
    font-style: italic;
}

.read-more:hover {
    cursor: pointer;
}

/**/

.response-image {
    display: none;

}

/**/

.hidden {
    display: none
}



/* Footer - Contact section */

.contact {
    height: 50vh;
    background-color: var(--blue-color6);
    color: var(--white-textcolor);
    font-family: "Fira Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-container {
    width: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--white-textcolor);
    border-right: 1px solid var(--white-textcolor);
}

#contact-title {
    font-size: 30px;
}

.socials a {
    font-size: 100px;
    color: var(--blue-color4);
}

.socials a:hover {
    color: azure;
}

/* Extra padding */

.div-pad {
    height: 10vh;
    background-color: var(--white-backgroundcolor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-pad p {
    font-size: 25px;
    font-weight: 400;
    color: var(--blue-color3);
}

.div-pad .dark {
    /* Colors */
    --white-color: #191919;
    --blue-color3: #BED754;
}

/* -------------------------------------------------------------------- */

/* Media Queries */

/*-------------------------------------------------------------------
------------------------- Max Width 1383px --------------------------
-------------------------------------------------------------------*/


@media screen and (max-width: 1383px) {
    .projects-outer {
        width: 70%;
    }
}

/*-------------------------------------------------------------------
-------------------------- Max Width 967px --------------------------
-------------------------------------------------------------------*/

@media screen and (max-width: 967px) {
    .section-2 {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 872px) {
    .section-1 {
        padding-bottom: 35vh;
    }

    .about-and-ascii-container {
        /* Display */
        flex-direction: column;
    }

    .about-panel {
        margin-bottom: 4vh;
        align-items: center;
    }

    .about-para {
        margin-right: 0;
    }

    .ascii-animation-container {
        justify-content: center;
        padding-bottom: 5vh;
    }
    
    .ascii-animation {
        margin-left: 0;
    }

    .arrow-1 {
        display: none;
    }

    .project-links a {
        margin: 15px 5px;
    }
}

/*-------------------------------------------------------------------
-------------------------- Max Width 766px --------------------------
-------------------------------------------------------------------*/

@media screen and (max-width: 766px) {
    h1 {
        font-size: 30px;
    }

    .about-panel {
        border-radius: 0;
    }

    .arrow-1 {
        display: none;
    }
    
    /* Section 2 - Projects */

    .section-2 {
        flex-direction: column;
    }

    .portfolio-title {
        width: 60%;
        margin-top: 20px;
    }

    .portfolio-title h2 {
        font-size: 25px;
        margin: 5px 0;
        font-weight: 400;
    }

    .project-container {
        margin: 0;
    }

    .projects-outer {
        /* Display */
        grid-template-columns: 1fr;
        width: 80%;
        transition: background-color 0.5s;
        max-height: none;
    }

    .image-container {
        max-width: 300px;
        justify-self: center;
        align-self: center;
    }

    .project-image {
        display: none;
    }

    .project-links a {
        margin: 15px 15px;
    }

    .response-image-container {
        padding: 5%;
    }

    .response-image {
        display: block;
        width: 100%;
        border: 2px solid #0a3169 ;
    }

    /* Footer - Contact section */

    .details-container {
        width: 80%;
        height: 40vh;
    }

    .contact-details {
        padding: 0 20px;
    }

    #contact-title {
        font-size: 20px;
    }

    .socials a {
        font-size: 60px;
    }

}

/*-------------------------------------------------------------------
-------------------------- Max Width 500px --------------------------
-------------------------------------------------------------------*/

/* Works for IPhone SE */

@media screen and (max-width: 500px) {

    /* Navbar */
    header {
        justify-content: space-evenly;
        padding: 5px 0;
        font-size: 15px;
        height: 50px;
    }

    /* Section 1 */

    .section-1 {
        /* Display & Box Model */
        justify-content: flex-start;
        padding-bottom: 20vh;
    }

    #welcome-h2 {
        /* Display & Box Model */
        padding-top: 15vh;

        /* Text */
        font-size: 40px;
    }

    h1 {
        font-size: 25px;
    }

    .about-para {
        height: 180px;
        font-size: 15px;
    }

    .ascii-animation {
        width: 100vw;
        overflow: hidden;
    }
}